@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: #202020;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif; 
}

header {
    display:flex;
    margin: 0px;
    padding: 0px;
    border: 0px;
    justify-content: center;
    background-color: #191919;
}

nav {
    background-color: #181818;
    margin: 0px;
    top:0px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navitem {
    color: white;
    text-decoration: none;
    padding:5px;
}

.navitem:hover {
    color: rgb(75, 163, 75);
}

.home{
    display: flex;
    
}

#intro {
    padding: 20%;
}

.intro_content{
    font-weight:400;
    text-align: center;
}

.intro_content span{
    color: rgb(75, 163, 75);
}

#TravelTime img{
    justify-content: right;
}
